.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.Pictures {
  margin: 10px;
}
img {
  margin: 5px;
}

.Board {
  width: 300px;
  height: 500px;
  border-radius: 10px;
  background-color: rosybrown;
}

.Pictures {
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.rame {
  animation: fadeIn 4s;
}

.question {
  position: absolute;
  background-color: rosybrown;
  text-align: center;
  border-radius: 10px;
  margin-left: 470px;
  margin-top:-300px;
  display: non;
}

.btn{
  background-color: yellowgreen;
  border: 2px solid black;
  border-radius: 10px;
}

